<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.pichincha.log" status="OFF">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <JSONLayout compact="true" eventEol="true" objectMessageAsJsonObject="true" properties="true">
        <KeyValuePair key="guid" value="${ctx:x-guid}"/>
        <KeyValuePair key="flow" value="${ctx:x-flow}"/>
        <KeyValuePair key="process" value="${ctx:x-process}"/>
        <KeyValuePair key="ip" value="${ctx:x-forwarded-for}"/>
        <KeyValuePair key="user-agent" value="${ctx:user-agent}"/>
        <KeyValuePair key="host" value="${ctx:host}"/>
      </JSONLayout>
    </Console>
    <Rewrite name="masker">
      <AppenderRef ref="console"/>
      <JsonMaskPolicy enabled="${spring:onboard.log.mask-enabled}">
        <MaskFieldMode field="firma" mode="truncate"/>
        <MaskFieldMode field="fotografia" mode="truncate"/>
      </JsonMaskPolicy>
    </Rewrite>
  </Appenders>
  <Loggers>
    <Logger additivity="false" level="trace" name="com.pichincha">
      <AppenderRef ref="masker"/>
    </Logger>
    <Logger additivity="false" level="error" name="org.springframework">
      <AppenderRef ref="console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
