<form [formGroup]="myForm" (ngSubmit)="onLogin()" autocomplete="off">
  <div class="flex flex-column">
    <span class="text-lg mb-4">Login</span>

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        type="text"
        formControlName="email"
        matInput
        placeholder="Correo"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        formControlName="password"
        matInput
        placeholder="Contraseña"
      />
    </mat-form-field>

    <button mat-button mat-flat-button color="primary" (click)="onLogin()">
      <mat-icon>save</mat-icon>
      Ingresar
    </button>

    <div class="flex justify-content-end mt-5">
      <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
      <span style="margin-left: 30px"></span>
      <a routerLink="/">Ir a Inicio</a>
    </div>
  </div>
</form>
