
<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="hero; else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
    
      <mat-card-subtitle>{{ hero.name }}</mat-card-subtitle>
    </mat-card-header>


    <img [src]="hero | heroImage" [alt]="hero.name" mat-card-image  />

  </mat-card>

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <div class="description">
          <strong>Nombre:</strong> <p>{{ hero.name }}</p>
        </div>       
        
        <div class="description">
          <strong>Género:</strong> <p>{{ hero.gender }}</p>
        </div>      

        <div class="description">
          <strong>Raza:</strong> <p>{{ hero.race }}</p>
        </div>      

        <div class="description">
          <strong>Planeta de origen:</strong> <p>{{ hero.originPlanet }}</p>
        </div>      
      
        <div class="description">
          <strong>Ki:</strong> <p>{{ hero.ki }}</p>
        </div>      
            
        <div class="description">
          <strong>Max Ki:</strong> <p>{{ hero.maxKi }}</p>
        </div>    

        <div class="description">
          <strong>Descripción:</strong> <p>{{ hero.description }}</p>
        </div>

        <div class="description">
          <strong>Afiliacion:</strong> <p>{{ hero.affiliation }}</p>
        </div>
          
      </mat-list>

      <button
        mat-button
        color="warn"
        (click)="goBack()"
      >
        Regresar
      </button>

    </mat-card-content>


  </mat-card>


</div>
